
    *, *::before, *::after {box-sizing: border-box;}
    html, body {
        margin:0;
        padding: 0;
        height: 100%
    }

    body {
      font-family: "Times New Roman", Times, serif;
      background: #f2f0ef;

      display: grid;
      grid-template-rows: auto auto 1fr;
      justify-content: center;
      align-items: center;
    }

    .numbers {
        grid-row: 3;
        display: flex;
        gap: clamp(10px, 5vw, 100px);
        font-size: clamp(18px, 2vw, 40px);
        align-items: center;
    }

    .numbers a {
        color: black;
        text-decoration: none;
    }

    .logo-home{
        grid-row: 1;
        justify-self: center;
        margin-top: 10vh;
        width: clamp(200px, 30vw, 600px);
        height: auto;
    }

    .logo-pages {
        grid-row: 1;
        justify-self: center;
        margin-top: 1vh;
        width: clamp(100px, 20vw, 300px);
        height: auto;
    }

    .nav-links {
        grid-row: 2;
        display: flex;
        gap: clamp(10px, 5vw, 100px);
        font-size: clamp(18px, 1.5vw, 40px);
        align-items: start;
        margin-top: 1vh;
    }
    
    .nav-links a {
        color: black;
        text-decoration: none;
    }

    .picture{
      grid-row: 3;
      width: clamp(250px, 80vw, 700px);
      height: auto;
      justify-self: center;
    }

    .picture-8 {
      width: clamp(150px, 25vw, 450px);
      height: auto;
      justify-self: center;
      align-self: center;
    }

    .picture-9 {
      width: clamp(150px, 60vw, 550px);
      height: auto;
      justify-self: center;
      align-self: center;
    }

    .picture-11 {
      width: clamp(150px, 60vw, 550px);
      height: auto;
      justify-self: center;
      align-self: center;
    }




